<section class="login">

    <div class="container-login">
      <div class="title">
        <h3>Welcome back</h3>
        <p>Ready for a new chilanga experience</p>
      </div>
      <form action="/login" method="POST">
        <div class="input-comp">
          <label for="email">Email:</label><br>
          <input id="email" type="text" name="email">
        </div>
        <div class="input-comp">
          <label for="password">Password:</label><br>
          <input type="password" name="password" >
        </div>
          {{#if message}}
        <div class="error-message">{{ message }}</div>
          {{/if}}

        <button type="submit" name="button" class="btn btn-red">New mexican adventure</button>
        <div class="link">
          <a href="#">As a good mexican I forgot my password!</a>
        </div>
        <div class="link2">
            <p>Be part of this experience !</p>
            <a href="/signup">Sign up HERE</a>
        </div>
    </form>
  </div>
</section>
