<<<<<<< HEAD
<section class="login">
  <div class="container-login">
    <div class="title_dasboard">
      <h3>Own Experiences</h3>
    </div>
    <section class="dashboard_card">
      <div class="image_grid"></div>
      <h2>Title</h2>
      <p>Vistit the city in your own way and time, just following the recomendations of our adventures friends</p>
    </section>
  </div>
</section>
=======
<div style="margin: 100px">
  <h1>Own experiences</h1>
  {{#each experiences}}
    <img src="{{this.imgPath}}" alt="">
    <h2>{{this.description}}</h2>
    <h3>{{this.title}}</h3>

    <div class="rating">
      <p>Rate me!</p>
      <div class="hearts">
        <div class="heart"></div>
        <div class="heart"></div>
        <div class="heart"></div>
        <div class="heart"></div>
        <div class="heart"></div>
    </div>
</div>



    {{else}}
    <h2>no experiences yet :(</h2>
  {{/each}}
</div>
>>>>>>> 56c39ef613d65073468bb6518865c07e17bd7c89
