<div style="margin: 100px">
  <h1>Own experiences</h1>
  {{#each experiences}}
    <img src="{{this.imgPath}}" alt="">
    <h2>{{this.description}}</h2>
    <h3>{{this.title}}</h3>

    <div class="rating">
      <p>Rate me!</p>
      <div class="hearts">
        <div class="heart"></div>
        <div class="heart"></div>
        <div class="heart"></div>
        <div class="heart"></div>
        <div class="heart"></div>
    </div>
</div>



    {{else}}
    <h2>no experiences yet :(</h2>
  {{/each}}
</div>