<section class="login">
  <div class="container-login">
    <div class="title_dasboard">
      <h3>Own Experiences</h3>
    </div>
    <section class="dashboard_card">
      <div class="image_grid"></div>
      <h2>Title</h2>
      <p>Vistit the city in your own way and time, just following the recomendations of our adventures friends</p>
    </section>
  </div>
</section>
