<div class="stage">
      <h1>Visit México City and share your journey with the world</h1>
         <a class="btn-stage" href="/signup" role="button">Sign up</a>
</div>
<<<<<<< HEAD
<section class="first-section">
    <div class="first-section-inside">
      <div class="first-section-1">
        <form class= "formulario" action="/login" method="POST">
          <div class="complete">
            <label for="what-to-do">What do you want to do?</label><br>
            <input type="what-to-do" name="what-to-do" placeholder="write your place"><br>
            <label for="days">How many days?</label><br>
            <input type="days" name="days" placeholder="1 day"><br>
            <label for="activities">What do you want to do?</label><br>
          <select class="dropdown">
            <label for="activities">What do you want to do?</label><br>
            <option class="dropdown" value="Museums">Museums and culture</option>
            <option class="dropdown" value="culture">Culture</option>
            <option class="dropdown" value="entertainment">Entertainment</option>
            <option class="dropdown" value="archeology">Archeology</option>
            <option class="dropdown" value="architecture">Architecture</option><br>
        </select>
        <div class="boton_index">
          <form class="button" action="/signup" method="GET">
            <a class="btn btn-third" href="/signup" role="button">Search adventure</a>
          </form>
        </div>
          </div>
        </div>
      </form>
      <div class="first-section-2">
        <div class="img-mariachi">
         <img src="./images/mariachi.png" alt="mariachi">
       </div>
      </div>
    </div>
</section>
<section class="second-section">
  <div class="second-section-inside">
    <div class="card2">
      <h2>About us</h2>
      <p>Whats better that know Mexico city , by the hand of a chilango, we are a community of mexicans and foreigns sharing our experiences and best ways to know this amazing city, knowing their people and tasting the delicious gastronomy </p>
      <img src="./images/flower.png" alt="">
    </div>
    <span class="img-lady">
      <img src="./images/lady_archeology.png" alt="">
    </span>
    </div>
  </div>
</section>
<section class="third-section">
  <div class="third-section-inside">
    <div class="card">
      <img src="./images/experience.png" alt="">
      <h2>Own experience</h2>
      <p>Vistit the city in your own way and time, just following the recomendations of our adventures friends</p>
    </div>
    <div class="card">
      <img src="./images/tour.png" alt="">
      <h2>Tour</h2>
      <p>You prefere to travel in group and share experiences by the hand of a guide, listening stories of the city </p>
    </div>
    <div class="card">
      <img src="./images/walking.png" alt="">
      <h2>Walking tour</h2>
      <p>You like to walk in calm in the companie of people that know each storie of the city there is an historical moment that you should know</p>
    </div>
    </div>
  </div>
</section>
 <footer>
  <img src="./images/footer.png" alt="">
</footer>
=======

{{!-- {{#if isLoading}}

<div>hola</div>

{{else}}


{{/if}} --}}

>>>>>>> develop
