<div id="info">
    <div id="info-content">
      <span>Visita Mexico! 🇲🇽 </span><br>
      <span>Conoce Mexico de la mano de la mano de gente comun</span>
    </div>
     <form action="/signup" method="GET">
        <a class="btn btn-primary" href="/signup" role="button">Registrate</a>
    </form>
    <form action="/login" method="GET">
      <a class="btn btn-primary" href="/login" role="button">login</a>
    </form>
</div>

