<div class="stage">
    <h1>Visit México City and share your journey with the world</h1>
       <a class="btn-stage" href="/signup" role="button">Sign up</a>
</div>
<div class="first-section">  
</div>
