<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js" integrity="sha256-ivk71nXhz9nsyFDoYoGf2sbjrR9ddh+XDkCcfZxjvcM=" crossorigin="anonymous"></script>  
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <nav>
      <a href="/"><img src="./images/logo-img.png" alt="logo-img" href="/index" ></a>
      
      <form class="main_link" action="/login" method="GET">
        <a href="/login">Log in</a>
      </form>
        <form class="button" action="/signup" method="GET">
           <a class="btn btn-primary" href="/signup" role="button">Sign up</a>
       </form>
    
    </nav>

  {{{body}}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>
