<div  id="profile-container">
  <form action="/profile?user_id={{user._id}}" method="POST">
    <img src="{{user.imgName}}" alt="" id="custom-user-img">
    <h1>{{user.username}}</h1>
    <span id="profile-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem iusto voluptates ducimus, mollitia deleniti veniam quasi, animi saepe explicabo quidem nisi rem? Numquam nostrum, quia cum optio deserunt ab saepe?</span>
  </form>
  <a href="/logout">Cerrar sesion</a>
</div>