
{{#if tour}}
  <h1>{{tour.title}}</h1>
  <img src="{{tour.imgPath}}" alt="">
  <h3>{{tour.description}}</h3>
    <br>
  <a href="/dashboard">View more tours</a>
  {{else}}
  <span>We didnt find any tour matching your search, why dont you take a look at <a href="/dashboard">our available tours</a></span>
{{/if}}